<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">


  {{#if extraCss2}}
  {{{extraCss2}}}
  {{/if}}

  {{#if extraCss}}
  {{{extraCss}}}
  {{/if}}

</head>