<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <main role="main">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row" style="min-hight:500px">
                <div class="col-md-3 project-details-sb">

                    <div>
                        <img class="image-fluid"src="/image/Pranay_pic.jpg" alt="">
                    </div>
                    <hr>
                    <div>
                        <h6> <strong>Social Profiles</strong></h6>
                        <br>
                        <div class="sb-link">
                            <img src="/image/fb.png" alt="noimage">
                            <img src="/image/twitter.png" alt="noimage">
                            <img src="/image/insta.png" alt="noimage">
                            <img src="/image/ln.png" alt="noimage">
                       </div>
                    </div>
                    <hr>
                    <div>
                        
                        <h6><strong>About This Project</strong></h6>
                        <br>
                            <img src="/image/fb.png" alt="noimage">
                            <img src="/image/twitter.png" alt="noimage">
                            <img src="/image/insta.png" alt="noimage">
                            <img src="/image/ln.png" alt="noimage">
                    </div>
                    <hr>

                    <div>
                        <h6><strong>Resourses</strong></h6>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                </div>
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">About</li>
                        </ol>
                        <h1> <small>Hi! I'm Pranay Rathor</small> </h1>
                        <br>
                        <p> I'm an Software Engineer working as a MEAN stack Developer in IBM India Pvt LTD ,Banglore . I Love photography and Travelling. 
                            Quitely wanted to share what i have learned so far from IT industry as a techie and using this site to write and share my experiences with All of you . 
                        </p>
                        <br>
                    </nav>
                    <hr>
                    <div>
                        <h1> <strong>About This Page</strong> </h1>
                        <p>I started this project to showcase how to build a portfolio app using MEAN to my students. And since then, this has been one of the makor project that always mention during the sessions. This project includes all the aspects of the full stack development. A very small project though but can be really good to start learning MEAN.
                         I am using Bootstrap, Node.js and Express js to build this.
                       </p>
                    </div>
                    <hr>
                    <div>
                        <h1> <strong>Project Timelines</strong> </h1>
                        <p>In this section we will discuss how much time it will take to build this project, followed by a steo by step guide.</p>
                        <hr>
                        <div><a href="#">Step 1: Static Portfolio Site - Using Bootstrap 4</a></div>
                        
                        <div><a href="#">Step 2: Rewrite the static site using Node, Express and Handlebars</a></div>
                        <div><a href="#">Step 3: Add some test data to make it look like a dynamic site</a></div>
                        <div><a href="#">Step 4: Build all the pages - home, projects, blog, about, contact</a></div>
                        <div><a href="#">Step 5: Design the database using NoSQL and MongoDB</a></div>
                        <div><a href="#">Step 6: Now we will actually display the data that comes from the DB</a></div>
                        <div><a href="#">Step 7: Build the RESTFUL API's</a></div>
                        <div><a href="#">Step 8: Integrate the API's with our Express App</a></div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>