<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
  <main role="main">
    <div class="album py-3 bg-light">
      <div class="container">
        <div class="row" style="min-hight:500px">
          <div class="col-md-3 project-details-sb">

            <div>
              <img class="image-fluid" src="/image/Pranay_pic.jpg" alt="">
            </div>
            <hr>
            <div>
              <h6> <strong>Social Profiles</strong></h6>
              <br>
              <div class="sb-link">
                <img src="/image/fb.png" alt="noimage">
                <img src="/image/twitter.png" alt="noimage">
                <img src="/image/insta.png" alt="noimage">
                <img src="/image/ln.png" alt="noimage">
              </div>
            </div>
            <hr>
            <div>

              <h6><strong>About This Project</strong></h6>
              <br>
              <img src="/image/fb.png" alt="noimage">
              <img src="/image/twitter.png" alt="noimage">
              <img src="/image/insta.png" alt="noimage">
              <img src="/image/ln.png" alt="noimage">
            </div>
            <hr>

            <div>
              <h6><strong>Resourses</strong></h6>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>

          </div>
          <div class="col-md-9">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item " aria-current="page">Contact</li>
              </ol>
            </nav>
            <div>
              <h1><small>Contact Me</small></h1>
              <form action="#" class="contact-me">
                <hr>
                <br>
                <div class="form-label-group">
                                <label for="name"> <strong> Name</strong></label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" autofocus="" required="">
                </div>
                <br>
                <div class="form-label-group">
                                <label for="name"> <strong>Email</strong></label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Email" autofocus="" required="">
                </div>
                <br>
                <div class="form-label-group">
                                <label for="name"> <strong> Number</strong></label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Number" autofocus="" required="">
                </div>
                <br>
                <br>
                <div class="form-label-group">
                   <textarea name="description" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-label-group">
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>

</html>